#Ignore the environment folder created by Python
venv/
pycache/

#-- CRITICAL: Ignore the massive dataset folder ---
plantvillage dataset/

#Ignore temporary uploaded images in the static folder
static/uploaded_image.jpg

# Ignore the SQLite database file
history.db
*.db

# Ignore all user-uploaded content in the static/uploads folder
static/uploads/
